$title-font:'Raleway', 'Helvetica', sans-serif;;
$main-font:'Lato', 'Helvetica', sans-serif;;
$font-color: #fff;
$header-color: #222222;
$font-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1170px;
$col-padding: 15px;

   // transitions   
$prop: all;
$time: 0.5s;
$funct: ease;