/*   ANIMATIONS   */
.title-1 {
  transform: translateY(-200%);
  opacity: 0;
  position: relative;
  border-radius: 10px;
  transition: opasity 2s ease, transform 2s ease;
}

.title-1.show {
  transform: translateY(0);
  opacity: 1;
}

.slide-2 h2 {
  transform: translateY(-200%);
  opacity: 0;
  position: relative;
  border-radius: 10px;
  transition: opacity 2s ease, transform 2s ease;
}
.slide-2 h2.show {
  transform: translateY(0);
  opacity: 1;
}
.slide-2 .col-md-4 {
  transform: translateY(200%);
  opacity: 0;
  position: relative;
  border-radius: 10px;
  transition: opacity 2s ease, transform 2s ease;
}
.slide-2 .col-md-4.show {
  transform: translateY(0);
  opacity: 1;
}

.slide-2__dec {
  transform: translateX(-500%);
  opacity: 0;
  position: relative;
  border-radius: 10px;
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
}

.slide-2__dec.show {
  transform: translateX(0);
  opacity: 1;
}

.slide-3__descr {
  transform: translateX(-100%);
  opacity: 0;
  position: relative;
  border-radius: 10px;
  transition: opacity 1s ease 0.5s, transform 1s ease 0.5s;
}

.slide-3__descr.show {
  transform: translateX(0);
  opacity: 1;
}
